* {
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 15vh;
    background-color: #005272;
    color: white;
    padding-bottom: 10px;
}
header h1{
    padding-top: 10px;
    opacity: 0.8;
    text-align: center;
}

header p{
    margin-top: 10px;
    text-align: center;
    opacity: 0.8;
}

header .main-subheading{
    font-size: 16px;
    margin-top: -3px;
}

form{
    margin: 20px auto ;
    padding: 15px;
    border: 1px dashed #005272;
    max-width: 30vw;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-grow: 100%;
}

form button[type="submit"]{
    outline-style: none;
}

form .operand-label{
    font-weight: bold;
    color: #005272;
}

form input.operand{
    color: #003e57;
}