* {
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 15vh;
    background-color: #005272;
    color: white;
    padding-bottom: 10px;
}
header h1{
    padding-top: 10px;
    opacity: 0.8;
    text-align: center;
}

header p{
    margin-top: 10px;
    text-align: center;
    opacity: 0.8;
}

header .main-subheading{
    font-size: 16px;
    margin-top: -3px;
}

form{
    margin: 20px auto ;
    padding: 15px;
    border-bottom: 1px dashed #005272;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-grow: 100%;
}

form .form-operand{
    margin-bottom: 15px;
}

form button[type="submit"]{
    outline-style: none;
    width: 8em;
    height: 2.5em;
    font-size: 1.2em;
    margin-top: 20px;
    color: #005272;
}

form .operand-label{
    font-weight: bold;
    color: #005272;
}

form input.operand{
    color: #003e57;
    width: 8em;
    line-height: 1.5em;
    font-size: 102%;
    text-align: right;
}